@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html {
  scroll-behavior: smooth;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}
a {
  font-family: "Source Sans Pro", sans-serif;
}
.container-fluid {
  padding: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* color: #fff; */
  margin: 0 !important;
  padding: 0 !important;
  line-height: normal !important;
  position: relative;
}
.wrap {
  width: calc(100% - 30px);
  margin: 0 auto;
}
.nav-bar {
  background: #1b1b1b;
  border-bottom: 1px solid #2c2c2c;
}
.content.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 20px 0;
}
.logo {
  max-width: 100px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-evenly;
  right: 0;
  width: 25px;
  height: 25px;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.nav-links {
  display: none;
}
.nav-links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-links ul li {
  padding: 10px 0;
}
.nav-links ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.nav-links ul li a:hover {
  color: #ffff00;
  transition: all 0.3s ease;
}

.nav-links > ul > li a:hover:after {
  opacity: 1;
  transition: all 0.3s ease;
}
.last {
  padding: 10px 0 0 0 !important;
}
.show {
  display: block;
  width: 100%;
}

/* end of navbar */

/* start hero content */
.hero {
  background-image: url(./assets/newtaxi1.png);
  /* margin: 0 auto; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* height: 60%; */
  background-position: right;
}
.hero::after {
  content: "";
  display: block;
  padding: 0 0 20% 0;
}
.hero::before {
  content: "";
  display: block;
  /* padding: 30% 0 0 0; */
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.content-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px 0 0 0; */
}
.numbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.numbers a {
  color: #fff;
}
.btn-call {
  display: none;
}
.telephone {
  display: flex;
  width: calc(75% - 30px);
  justify-content: space-between;
}
.telephone a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.telephone a:hover {
  color: #ffff00;
}
.telephone a i {
  color: #ffff00;
  padding: 0 5px 0 0;
}
.connect {
  width: 100%;
}
.download {
  display: flex;
  justify-content: space-around;
  padding: 0 0 40px 0;
  align-items: center;
  position: relative;
}
.center {
  text-align: center;
  padding: 20px 0 30px 0 !important;
  font-weight: 700;
  color: #fff;
}
.store {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.apple {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apple i {
  font-size: 30px;
  color: #fff;
  padding: 0 10px 0 0;
}
.apple a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.apple a:hover {
  color: #ffff00;
}
.phones {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-phones {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-phones a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 0 0 0 5px;
}
.content-phones a:hover {
  color: #ffff00;
}
.content-phones i {
  color: white;
  font-size: 20px;
}

.swiper.main {
  width: 100%;
  height: 50%;
}
.swiper-slide.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80% !important; */
}

/* end hero content */

/* start offer content */

.center-offer {
  text-align: center;
  padding: 20px 0 30px 0 !important;
  font-weight: 700;
}
.offer {
  background-color: #fdcf11;
  position: relative;
}
.offer::after {
  content: "";
  display: block;
  padding: 0 0 20px 0;
}
.content-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-offer-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  position: relative;
  align-self: start;
  text-align: center;
}
/* .content-offer-items:hover {
  box-shadow: 0 5px 65px 0 rgb(0 0 0 / 15%);
  transition: 0.3s;
} */
.content-offer-items i {
  font-size: 30px;
}
.content-offer-items p {
  font-size: 20px;
  padding: 5px 0 3px 0 !important;
  font-weight: 600;
}
.content-offer-items span {
  font-size: 14px;
}

/* end offer content */

/* start testimoniali */

.partners {
  background-color: #e5e5e5;
}
.partners::after {
  content: "";
  display: block;
  padding: 0 0 20px 0;
}

.center-testimonial {
  text-align: center;
  padding: 20px 0 30px 0 !important;
  font-weight: 700;
}
.swiper.second {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper.second {
  align-items: center;
}
.wrap-partners {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.prices {
  background-color: #1f2125;
  /* overflow-x: hidden; */
}
.prices::after {
  content: "";
  display: block;
  padding: 0 0 20px 0;
}
.center-price {
  text-align: center;
  padding: 20px 0 30px 0 !important;
  font-weight: 700;
  color: #fff;
}
.pricing-item {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.item-price {
  width: 100%;
  border: 1px solid #585858;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 10px;
}
.item-price.first {
  margin: 0 0 15px 0;
  background-color: #58585880;
  color: #fdcf11;
}
.title {
  font-size: 20px;
  padding: 30px 0;
  position: relative;
}
.price {
  padding: 10px 0 20px;
}
.price h2 {
  font-family: "Playfair Display", serif;
}

/* end testimoniali */

/* start footer content main */
.footer {
  background-color: #111010;
}
.content-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 50px 0 !important;
}

.items-footer {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 10px 0;
}
.items-footer p {
  font-size: 13px;
  line-height: 20px !important;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 0.1px;
  padding-right: 20px !important;
}
.items-footer a {
  font-size: 13px;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-decoration: none;
}
.items-footer a:hover {
  color: #ffff00;
}
.items-footer i {
  padding: 0 5px 0 0;
}
.media {
  display: flex;
  flex-direction: row;
}
.media i {
  font-size: 20px;
  padding: 5px 10px 0 0;
}

/* end footer content main */

/*start footer content second*/
.second-footer {
  background-color: #1b1b1b;
}
.btn-footer {
  padding: 10px 0;
  background-color: #1b1b1b;
  text-decoration: none;
  position: relative;
  width: 100%;
  border: none;
  text-align: left;
  border-bottom: 1px solid #2c2c2c;
}
.btn-footer::after {
  position: absolute;
  right: 0;
  content: "\f068";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  width: auto !important;
  /* transform: translateY(-50%) rotate(-90deg); */
  transition: transform 0.15s ease-in-out;
}
.btn-footer.collapsed span {
  color: #bdbdbd;
}
.btn-footer.collapsed::after {
  /* transform: translateY(-50%) rotate(0deg); */
  transition: transform 0.15s ease-in-out;
  content: "\2b";
}
.btn-footer span {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.accordion-item {
  border: none !important;
  background-color: transparent !important;
}

.btn-footer:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

/*end footer content second*/

/* start copyright content */

.copyright {
  background-color: #111010;
}
.name {
  text-align: center;
}
.name span {
  color: #fff;
  font-size: 11px;
}
/* end copyright content */
@media (min-width: 1200px) {
  .wrap {
    max-width: 1650px;
  }
  .content.header {
    flex-direction: row;

    align-items: center;
  }
  .nav-links {
    display: block;
  }
  .nav-links ul {
    flex-direction: row;
  }
  .nav-links ul li {
    padding: 0 15px;
  }
  .last {
    padding: 0 0 0 15px !important;
  }
  .hamburger {
    display: none;
  }
  .logo {
    max-width: 140px;
  }
  .nav-links ul li a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .nav-links ul li a::after {
    content: "";
    width: 100%;
    background-color: #ffff00;
    position: absolute;
    height: 2px;
    bottom: -2;
    left: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .connect {
    width: 50%;
  }
  .swiper.main {
    width: 50%;
  }
  .swiper-slide.main {
    height: 100%;
  }
  .center {
    padding: 50px 0 50px 0 !important;
  }
  .center-offer {
    padding: 50px 0 50px 0 !important;
  }
  .center-testimonial {
    padding: 50px 0 50px 0 !important;
  }
  .center-price {
    padding: 50px 0 50px 0 !important;
  }
  .content-phones a {
    font-size: 25px;
  }
  .content-offer {
    flex-direction: row;
  }
  .content-offer-items {
    padding: 0;
    width: calc(25% - 70px);
    justify-content: space-around;
  }
  .content-offer-items i {
    font-size: 40px;
  }
  .content-offer-items span {
    font-size: 18px;
  }
  .content-offer-items::before {
    background: #1b1b1b;
    content: "";
    margin-top: -27.5px;
    height: 55px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 50%;
  }
  .content-offer-items.killborder::before {
    background: none;
  }
  .pricing-item {
    flex-direction: row;
    max-width: 60%;
    overflow-x: visible;
  }
  .item-price {
    width: calc(50% - 20px);
  }

  .item-price.first {
    margin: 0;
  }
  .content-footer {
    flex-direction: row;
  }
  .items-footer {
    width: calc(25% - 30px);
    padding: 0;
  }
  .wrap-partners {
    width: 25%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .telephone {
    display: flex;
    width: calc(60% - 30px);
    justify-content: space-between;
  }
  .swiper.main {
    width: 50%;
  }
  .content-offer {
    flex-direction: row;
  }
  .content-offer-items {
    padding: 0;
    width: calc(25% - 20px);
  }
  .content-offer-items i {
    font-size: 35px;
  }
  .content-offer-items p {
    font-size: 19px;
    font-weight: 600;
  }
  .pricing-item {
    flex-direction: row;
    /* max-width: 100%; */
  }
  .item-price {
    width: calc(50% - 20px);
  }
  .item-price.first {
    margin: 0;
  }
  .wrap-partners {
    width: 40%;
  }
}
